# --------------------------
# Arquivos de ambiente
# --------------------------
.env
db/.env

# --------------------------
# Cache do Python
# --------------------------
__pycache__/
*/__pycache__/

# --------------------------
# Ambiente virtual
# --------------------------
.venv/
venv/
ENV/
env/

# --------------------------
# Logs e SQLite
# --------------------------
*.log
*.sqlite3

# --------------------------
# Arquivos temporários
# --------------------------
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.egg-info/
*.egg

# --------------------------
# Scripts
# --------------------------
Scripts BD/

# --------------------------
# IDE / Editor
# --------------------------
.vscode/
.idea/
